[submodule "Core-LifecycleScripts"]
	path = Core-LifecycleScripts
	url = https://github.com/WorkflowCenter-Repositories/Core-LifecycleScripts.git
[submodule "Caching-Corescripts"]
	path = Caching-Corescripts
	url = https://github.com/WorkflowCenter-Repositories/Caching-Corescripts.git
